@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
.body-page {
  margin: 0px;
  width: 1280px;
  height: 1626px;
}
.menu {
  width: 620px;
  height: 15px;
  margin: 25px 330px;
}
.menu-list {
  text-align: center;
  padding: 0px;
}
.list-item {
  display: inline-block;
  padding-right: 72px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}
.list-item:last-child {
  padding-right: 0px;
}
.list-item:nth-child(3) {
  padding-right: 50px;
}
.list-link {
  text-decoration: none;
  color: #ff0000;
}

.image-main {
  width: 1280px;
  height: 789px;
}

.page-main {
  width: 1280px;
  height: 650px;
}
.heading-main {
  text-align: center;
  padding: 48px 253px 38px;
  margin: 0px;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 3.3px;
}
.paragraph-main {
  padding-left: 67px;
  padding-right: 67px;
  margin: 0px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.paragraph-main-entry {
  text-align: center;
  margin-bottom: 28px;
}
.paragraph-main-conclusion {
  text-align: center;
  margin-bottom: 84px;
}
.button-get-started {
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  margin-left: 588px;
  padding: 18px 43px;
  border: solid;
  border-color: #ff0000;
  background-color: #ff0000;
  border-radius: 4px;
}
.page-footer {
  width: 1280px;
  height: 108px;
}
.rights-reserved {
  font-size: 16px;
  line-height: 120px;
  font-weight: 700px;
  padding: 40px 115px 29px 713px;
  color: #373737;
  letter-spacing: 2.3px;
}
